/*=========================
FEATURED CATEGORIES
==========================*/

.categories{

    padding:100px 60px;

    background-image:url("../img/pub_bg.jpeg");

}

.section-title{

    text-align:center;

    margin-bottom:60px;

}

.section-title h2{

    color:#fff;

    font-size:48px;

    margin-bottom:15px;

}

.section-title p{

    color:#bfbfbf;

    font-size:18px;

}

.category-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

    gap:30px;

}

.category-card{

    background:black;

    border:1px solid rgba(212,175,55,.25);

    border-radius:20px;

    padding:40px 25px;

    text-align:center;

    cursor:pointer;

    transition:.35s;

}

.category-card:hover{

    transform:translateY(-10px);

    border-color:#d4af37;

    box-shadow:0 15px 40px rgba(212,175,55,.2);

}

.category-icon{

    width:90px;

    height:90px;

    margin:auto;

    border-radius:50%;

    background:#d4af37;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:45px;

    margin-bottom:25px;

}

.category-card h3{

    color:#fff;

    font-size:28px;

    margin-bottom:10px;

}

.category-card p{

    color:#bdbdbd;

    font-size:16px;

    line-height:28px;

}

.category-card:hover .category-icon{

    transform:rotate(10deg) scale(1.1);

    transition:.3s;

}