/*=========================
HAPPY HOURS
==========================*/

.happy-hours{
    

    border:1px solid rgba(212,175,55,.35);

    border-radius:18px;

    padding:20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    overflow:hidden;

    transition:.3s;

    position:sticky;

    height:fit-content;

    top: 90px;

    

}

.happy-hours:hover{

    transform:translateY(-5px);

    box-shadow:0 10px 30px rgba(212,175,55,.18);

}

.offer-content{

    width:60%;

}

.offer-tag{

    color:#d4af37;

    font-size:15px;

    font-weight:600;

    letter-spacing:1px;

}

.offer-content h2{

    color:#d4af37;

    font-size:44px;

    margin:12px 0 8px;

}

.offer-content p{

    color:white;

    font-size:18px;

    margin-bottom:18px;

    text-transform:uppercase;

}

.offer-time{

    display:flex;

    flex-direction:column;

    gap:8px;

    color:#ddd;

    font-size:14px;

}

.offer-image{

    width:38%;

    display:flex;

    justify-content:center;

}

.offer-image img{

    width:130px;

    transition:.4s;

}

.happy-hours:hover img{

    transform:scale(1.08);

}