.home-layout{

    width:100%;
    background:#000;
    padding:25px;

}

.content-row{

    display:grid;
    grid-template-columns:2fr 360px;
    gap:30px;
    align-items:start;
    margin-bottom:35px;

}

.left-content{

    width:100%;

}

.right-content{

    width:100%;

}

.ai-section,
.happy-hours{

    position:sticky;
    top:90px;

}

@media(max-width:1100px){

    .content-row{

        grid-template-columns:1fr;

    }

    .ai-section,
    .happy-hours{

        position:static;

    }

}