/* ==========================================
   PRODUCT PANEL
========================================== */

.panel-overlay{
    position:fixed;
    inset:0;
    background:rgba(0, 0, 0, 0.45);
    backdrop-filter:blur(6px);
    opacity:0;
    visibility:hidden;
    transition:.35s ease;
    z-index:999;
}

/* Active Overlay */

.panel-overlay.active{
    opacity:1;
    visibility:visible;
}

/* ========================= */

.product-panel{

    position:fixed;
    top:0;
    right:-520px;

    width:400px;
    height:100vh;

    background:#000000;

    border-left:2px solid rgba(255,191,0,.35);

    overflow-y:auto;

    transition:.4s ease;

    z-index:1000;

    box-shadow:-15px 0 35px rgba(0,0,0,.6);

}

/* Open */

.product-panel.open{

    right:0;

}

/* Scrollbar */

.product-panel::-webkit-scrollbar{

    width:8px;

}

.product-panel::-webkit-scrollbar-thumb{

    background:#f5b400;
    border-radius:20px;

}

.product-panel::-webkit-scrollbar-track{

    background:#1d1d1d;

}

/* ==========================================
   CLOSE BUTTON
========================================== */

.close-panel{

    position:absolute;

    top:18px;
    right:18px;

    width:45px;
    height:45px;

    border:none;

    border-radius:50%;

    background:#222;

    color:#fff;

    cursor:pointer;

    font-size:20px;

    transition:.3s;

}

.close-panel:hover{

    background:#f5b400;

    color:#000;

    transform:rotate(90deg);

}

/* ==========================================
   IMAGE
========================================== */

.panel-image{

    padding:25px;

}

.panel-image img{

    width:75%;

    height:180px;

    object-fit:cover;

    border-radius:20px;
    
    Margin-top:20px;

    border-top:1px solid rgba(255,191,0,.35);

}

/* ==========================================
   CONTENT
========================================== */

.panel-content{

    padding:0 30px 40px;

}

.panel-content h1{

    color:#f5b400;

    font-size:25px;

    margin-bottom:8px;

}

.panel-subtitle{

    color:#bbbbbb;

    font-size:16px;

    margin-bottom:15px;

}

.panel-rating{

    display:flex;

    gap:10px;

    align-items:center;

    margin-bottom:20px;

}

.stars{

    color:#FFD700;

    font-size:16px;

}

.panel-rating span:last-child{

    color:#d0d0d0;

}

.panel-price{

    font-size:25px;

    font-weight:bold;

    color:#f5b400;

    margin-bottom:20px;

}

.panel-description{

    color:#cfcfcf;

    line-height:1.8;

    margin-bottom:30px;

}

/* ==========================================
   PRODUCT SPECS
========================================== */

.product-specs{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:18px;

    margin-bottom:35px;

}

.spec{

    background:#1b1b1b;

    border:1px solid #2f2f2f;

    border-radius:15px;

    padding:18px;

    text-align:center;

}

.spec i{

    font-size:15px;

    color:#f5b400;

    margin-bottom:10px;

}

.spec .label{

    display:block;

    color:#999;

    margin-bottom:6px;

    font-size:10px;

}

.spec span:last-child{

    color:white;

    font-weight:600;

}

/* ==========================================
   QUANTITY
========================================== */

.quantity-section{

    margin-bottom:30px;

}

.quantity-section h3{

    color:#f5b400;

    margin-bottom:15px;

}

.quantity-box{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:25px;

}

.quantity-box button{

    width:45px;

    height:45px;

    border:none;

    border-radius:10px;

    background:#f5b400;

    color:#000;

    cursor:pointer;

    font-size:15px;

    transition:.3s;

}

.quantity-box button:hover{

    transform:scale(1.08);

}

.quantity-box span{

    font-size:20px;

    font-weight:bold;

}

/* ==========================================
   ADD CART
========================================== */

.ccart-btn{

    width:100%;

    padding:16px;

    border:none;

    border-radius:15px;

    background:#f5b400;

    color:#111;

    font-size:15px;

    font-weight:bold;

    cursor:pointer;

    margin-bottom:40px;

   

    transition:.3s;

}

.ccart-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 10px 25px rgba(245,180,0,.35);

}

/* ==========================================
   SECTION
========================================== */

.panel-section{

    margin-bottom:35px;

}

.panel-section h3{

    color:#f5b400;

    margin-bottom:15px;

}

/* ==========================================
   TAGS
========================================== */

.tags{

    display:flex;

    flex-wrap:wrap;

    gap:12px;

}

.tags span{

    background:#202020;

    border:1px solid #333;

    color:#ddd;

    padding:10px 18px;

    border-radius:25px;

    transition:.3s;

    cursor:default;

}

.tags span:hover{

    background:#f5b400;

    color:#000;

}

/* ==========================================
   RESPONSIVE
========================================== */

@media(max-width:768px){

.product-panel{

    width:100%;

    right:-100%;

}

.product-specs{

    grid-template-columns:1fr;

}

.panel-content{

    padding:20px;

}

.panel-image img{

    height:240px;

}

.panel-content h1{

    font-size:25px;

}

.panel-price{

    font-size:25px;

}

}