/*==============================
TODAY'S SPECIALS
==============================*/

.specials{

    background:#171717;

    border:1px solid rgba(212,175,55,.3);

    border-radius:18px;

    padding:20px;

    position:sticky;

    top:90px;

}

.special-header{

    margin-bottom:18px;

}

.special-header h3{

    color:#d4af37;

    font-size:24px;

}

.special-header span{

    color:#aaa;

    font-size:14px;

}

.special-list{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.special-item{

    display:flex;

    align-items:center;

    gap:15px;

    background:#202020;

    padding:12px;

    border-radius:14px;

    transition:.3s;

}

.special-item:hover{

    transform:translateY(-3px);

    background:#272727;

}

.special-item img{

    width:65px;

    height:65px;

    border-radius:12px;

    object-fit:cover;

}

.special-item h4{

    color:white;

    margin-bottom:5px;

}

.special-item p{

    color:#d4af37;

    font-weight:600;

}

.special-btn{

    width:100%;

    margin-top:20px;

    padding:14px;

    border:none;

    border-radius:12px;

    background:#d4af37;

    color:#111;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

}

.special-btn:hover{

    background:#f5cf59;

}